.card
{
  width: 210px;
  padding: 10px;
  margin: 20px;
}
.cardimg{
  justify-content: center;
  justify-self: center;
  margin-left: 15px;
  z-index: 00;
  height: 200px;
}
img{
  padding: 5px;
  width: 210px;
  height: 200px;
  display: block;
  margin-left: 10px;
  margin-right: auto;
  width: 40%;
}
carousel{
  z-index: inherit;
  display: flex;
  justify-content: center;
}
.single
{
  justify-self: center;
  justify-content: center;
  width: 210px;
  height: 142px;
  padding: 15px;
  margin-top: 0;
}
.carousel-cell
{
  display: flex;
  justify-content: center;
  width: 210px;
  /* background-color: rgb(0, 0, 0); */
}
.cart:hover{
  background-color: rgb(34, 123, 224);
  color: white;
}
.added:hover{
  background-color: rgb(1, 192, 74);
  color: white;
}
.carousel-arrow
{
  background-color: none;
}
