<app-navbar></app-navbar>

<div style="
    width: 25%;
    display: flex;
    margin: 40px;">
  <input type="text" class="searchTerm" placeholder="Search Name" [(ngModel)]="searchTerm" (input)="search(searchTerm)">
  <i class="small material-icons" style="cursor: pointer;">search</i>
</div>

<div style="display: flex;
            flex-wrap: wrap;">
  <div *ngFor="let product of products?.results">
    <div class="card" style="width: 17rem; height: 380px;">
      <carousel [width]="210" [cellWidth]="210" [autoplay]="true" [loop]="true"
        [arrows]="((product?.images?.length>1))" [dots]="true">
        <div class="carousel-cell" *ngFor="let image of product?.images">
          <img class="cardimg" src={{image?.url}}>
        </div>
      </carousel>
      <!-- <div class="carousel-cell">
        <img style=" max-width: fit-content;" class="single" *ngIf="(product?.images.length<=1)"
          [src]=product?.images[0].url>
      </div> -->
      <div class="card-body" [routerLink]="['/products/details', product?._id]">
        <div style="height: 150px; padding: 3px;">
          <h5 class="card-title" style="font-weight: 500;">{{product?.name}}</h5>
          <p class="card-text" style="white-space: normal;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;word-wrap: break-word;">{{product?.description}}</p>
          <!-- {{product?._id}} -->
        </div>

      </div>
      <button class="btn" style="background-color: #242c42; color: white;" [routerLink]="['/products/details', product?._id]">View Details</button>
    </div>
  </div>
</div>

<!-- <a style="display: flex; justify-content: center;">
  <i class="large material-icons" >add_shopping_cart</i>
  <span class="badge rounded-pill badge-notification bg-danger">1</span>
</a> -->

<mat-paginator [length]=lengthy
                [pageSize]=pageSize
                [pageIndex]=index-1
                [pageSizeOptions]="[1, 5, 6, 10, 25, 100, lengthy]"
  aria-label="Select page" (page)="changeTable($event)">

</mat-paginator>
