<app-navbar></app-navbar>

<div class="parent">

  <form class="child" [formGroup]="myForm">
    <h4 style="text-align: center; font-weight: bold;">Update Product</h4>
    <hr>
    <br>
    <label>Name</label>
    <input type="text" class="validate" placeholder="Enter product name" formControlName="name">

    <label>Description</label>
    <input type="text" placeholder="Enter Description" formControlName="description">
    <div style="display: flex;flex-wrap: wrap;">
      <div *ngFor="let image of product?.images; let i = index" class="preview">
        <img [src]=image?.url>
        <a class="remove-image" style="display: inline;" (click)="removeImage(i)">&#215;</a>

      </div>
      <div *ngFor="let image of photosArr; let i = index" class="preview">
        <img [src]=image>
        <a class="remove-image" style="display: inline;" (click)="removeImg(i)">&#215;</a>

      </div>
    </div>
    <!-- <div style="display: flex;
              flex-wrap: wrap;">
      <div class="card" style="width: 5rem;margin: 10px; display: flex;
  flex-wrap: wrap;" *ngFor='let image of product?.images; let i = index'>
        <img class="card-img-top" [src]="image?.url" alt="Card image cap">
        <div class="card-body">
          <a (click)="removeImage(i)" class="btn btn-xs btn-danger">
            <i class="material-icons">delete</i></a>
        </div>
      </div>
    </div> -->

    <div class="mb-3">
      <label for="formFileMultiple" class="form-label">Choose Images</label>
      <input class="form-control" type="file" id="formFileMultiple" multiple (change)="onFileSelected($event)">
    </div>

    <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
      {{errorMsg}}
    </div>

    <button type="button" class="btn green" [disabled]="myForm.invalid" (click)="update()">Submit</button>
    <button class="btn red">Reset</button>

    <br>
    <!-- <p>Already have an account, sign in <a [routerLink]="['/auth/login']" style="cursor: pointer;">here</a></p> -->
  </form>
</div>


<form [formGroup]="myForm" *ngIf="0">
  <label>Product Name</label>
  <input type="text" formControlName="name" value={{this.product?.name}}>

  <label>Product Description</label>
  <input type="text" formControlName="description" value={{this.product?.description}}>

  <div style="display: flex;
              flex-wrap: wrap;">
    <div class="card" style="width: 18rem;" *ngFor='let image of product?.images; let i = index'>
      <img class="card-img-top" [src]="image?.url" alt="Card image cap">
      <div class="card-body">
        <a (click)="removeImage(i)" class="btn btn-xs btn-danger">Remove</a>
      </div>
    </div>
  </div>

  <!-- <div class="col-md-2 productAddfromImages" *ngFor='let image of product?.images; let i = index'>
    <img class="img-fluid" [src]="image?.url">
    <a (click)="removeImage(i)" class="btn btn-xs btn-danger">Remove</a>
  </div> -->

  <div class="mb-3">
    <form [formGroup]="imageForm">
      <label for="formFileMultiple" class="form-label">Choose Images</label>
      <input class="form-control" type="file" id="formFileMultiple" multiple (change)="onFileSelected($event)">
      <!-- <button class="btn" (click)="add()">Add</button> -->
    </form>
  </div>

  <button class="btn green" (click)="update()">Update</button>
</form>
