<app-navbar></app-navbar>


<div style="display: flex; justify-content: center; width: 100%;">
  <div class="card">

    <div style="
  display: flex;justify-content: center;margin: 0 15px 0 15px;">
      <input type="text" class="searchTerm" placeholder="Search Name" [(ngModel)]="searchTerm"
        (input)="search(searchTerm)">
      <i class="material-icons" style="cursor: pointer;">search</i>
    </div>

    <div style="display: flex;justify-content: center;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Sr. No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Created@</th>
            <th colspan="2" style="text-align: center; ">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users?.results | searchFilter: searchTerm;let i=index">
            <td>{{i+1}}</td>
            <td><a [routerLink]="['/seller/users/details', user?._id]">{{user?.name}}</a></td>
            <td>{{user?.email}}</td>
            <td>{{user?.role}} 
              <span *ngIf="(profileData?.role == 'admin') && (profileData._id != user?._id)">
                <i *ngIf="user?.role == 'user'" class="tiny material-icons"><a (click)="updateRole('admin', user?._id)">file_upload</a></i>
                <i *ngIf="user?.role == 'admin'" class="tiny material-icons"><a (click)="updateRole('user', user?._id)">file_download</a></i>
              </span>
            </td>
            <td>{{user?.createdAt | date}}</td>
            <td><a [routerLink]="['/seller/users/update', user?._id]"
                style="display: flex;justify-content: center; text-decoration: none;"><i
                  class="material-icons">edit</i></a></td>
            <td><a (click)="sweetAlert(user?._id)"
                style="color: Red; cursor:pointer; display: flex;justify-content: center;"><i
                  class="material-icons">delete</i></a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- <p>{{users?.totalResults}}</p> -->

    <mat-paginator [length]=length [pageSize]=pageSize [pageSizeOptions]="[5, 10, 25, 100, length]"
      aria-label="Select page" (page)="changeTable($event)">

    </mat-paginator>


  </div>
</div>
