carousel{
  padding: 10px ;
  margin: 10px ;
  /* height: 50%; */
  z-index: 0;
}
carousel-cell
{
  width: auto;
}


.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:0%;
  content: attr(data-count);
  font-size:40%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  color:shopping-cart-red;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  background: white;
  border-style:solid;
}
.fa-circle {
  color:#DF0000;
}

.red-cart {
	color: black; background:white;
}

.card{
  padding: 20px;
  height: auto;
  width: auto;
  min-width: 700px;
  justify-content: center;
  margin: 2% 20% 2% 20%;
}
.preview{
  /* width: 100%; */
  height: auto;
  border: 1px solid;
  margin: 10px;
  width: 100%;
  padding: 10px;
  max-height: 250px;
}
.left{
  width: 350px;
}
.card-image
{
  width: 50%;
  height: auto;
  padding: 10px;
}
.abc
{
  height: 300px;
  display: flex;
  justify-content: center;
}
/* .carousel-arrow{
  background-color: blue;
}
::ng-deep .carousel-arrow.carousel-arrow-prev{
 background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')
} */
/* .carousel-arrow-prev[_ngcontent-qob-c58] {
  left: 10px;
  background-image: url(https://apufpel.com.br/assets/img/seta_ult.png);
} */
.carousel-arrow-prev
{
  background-color: black;
}
.btn:hover{
  background-color: rgb(34, 123, 224);
  color: white;
}
.added:hover{
  background-color: rgb(1, 192, 74);
  color: white;
}
