p{
  text-align: end;
  margin: 20px;
}
nav
{
  margin-bottom: 35px;
  z-index: 200000;
}
dropdown-menu
{
  z-index: 00000;
}
a
{
  display: flex;
}
i
{
  margin-right: 15px;
}
.badge:after{
        content:attr(value);
        font-size:12px;
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        border-radius:50%;
        border-radius: black;
        padding: 0 5px;
        position:relative;
        left:-8px;
        top:-10px;
        opacity:0.9;
    }
