p{
  text-align: end;
  margin: 20px;
}
nav
{
  margin-bottom: 35px;
  z-index: 200000;
}
dropdown-menu
{
  z-index: 00000;
}
a
{
  display: flex;
}
i
{
  margin-right: 15px;
}
.remove-image {
  /* display: none; */
  position: absolute;
  top: -5px;
  right: 3px;
  /* border-radius: 10em; */
  /* background-color: white; */
  padding: 2px 6px 3px;
  text-decoration: none;
  font: 500 15px/20px sans-serif;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.904), inset 0 2px 4px rgba(165, 0, 0, 0); */
    /* text-shadow: 0 1px 2px rgba(0,0,0,0.5); */
    -webkit-transition: background 0.5s;
    transition: background 0.5s;

  }
.preview
{
  position: relative;
  /* border: 1px solid; */
  /* margin: 5px; */
  /* height: auto; */
}
