<nav>
  <div class="nav-wrapper black">
    <a [routerLink]="['/auth/login']" style="margin-left: 20px;"><img src="https://emoji.slack-edge.com/T0B4MLUM9/am-icon/08c37469129f7584.png" alt="AngularMinds" style="height: 70%;"></a>
    <ul id="nav-mobile" class="right">

      <li></li>
      <li><a [routerLink]="['/users/create']">Create User</a></li>
      <li><a [routerLink]="['/users/list']">All Users</a></li>
      <li><a (click)="clear()">logOut</a></li>

    </ul>
  </div>
</nav>
<p><a [routerLink]="['/auth/login']">MyProfile</a></p>
<p><a [routerLink]="['/products/allproducts']">All Products</a></p>
<p><a [routerLink]="['/products/createproduct']">Create Product</a></p>
<p><a [routerLink]="['/products/trial']" >Trial</a></p>