<div class="parent" style="padding: 10px;" *ngIf="verifiedSuccesfully">
  <div class="child" style="padding: 10px;">
<p style="padding-top: 20px; text-align: center; color: green;">Verification done succesfully...!</p>
<div class="parent" style="padding: 10px;">
<p>Redirect to<a [routerLink]="['/seller/auth/login']" style="cursor: pointer;"> login </a>page.</p>
</div>
</div>
</div>

<div class="parent" style="padding: 10px;" *ngIf="!verifiedSuccesfully">
  <div class="child" style="padding: 10px;">
<p style="padding-top: 20px; text-align: center;">Verification under process....!</p>
<div class="parent" style="padding: 10px;">
  <p class="danger red-text">{{errorMsg}}</p>
<!-- <p>Redirect to<a [routerLink]="['/login']" style="cursor: pointer;"> login </a>page.</p> -->
</div>
</div>
</div>

