.main{
  padding: 10px;
  margin: 10px;
  border: solid 1px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
html,
body { height: 100%;
}
.parent {
height: 200px;
/* background: #CCCCCC; */
display: flex;
align-items: center;
justify-content: center;
}
.child {
/* background-color: #FFFF00; */
width: 300px;
height: auto;
border: solid 3px;
border-radius: 20px;
padding: 10px;
margin: 10px;
margin-top: auto;
display: flex;
flex-direction: column;
align-items: center;
}

ngx-avatar{
  width:auto;
  height: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}

button
{
  padding: auto;
  margin: 10px;
}

