.main{
  padding: 10px;
  margin: 10px;
  border: solid 1px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
html,
body { height: 100%;
}
.parent {
height: 100px;
/* background: #CCCCCC; */
display: flex;
align-items: center;
justify-content: center;
}
.child {
/* background-color: #FFFF00; */
width: 325px;
height: auto;
border: solid 3px;
padding: 20px;
margin: 10px;
border-radius: 20px;
margin-top: auto;
}
button
{
  padding: auto;
  margin: 5px;
}

