<app-navbar>
</app-navbar>


<div class="parent">

  <form class="child" [formGroup]="myForm">
    <h4 style="text-align: center; font-weight: bold;">Add New Product</h4>
    <hr>
    <br>
    <label >Name</label>
    <input type="text" class="validate" placeholder="Enter product name" formControlName="name">

    <label>Description</label>
    <input type="text" placeholder="Enter Description" formControlName="description">

    <div class="mb-3">
      <label for="formFileMultiple" class="form-label">Choose Images</label>
      <input class="form-control" type="file" id="formFileMultiple" multiple>
    </div>

    <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
      {{errorMsg}}
    </div>

    <button type="button" class="btn green" [disabled]="myForm.invalid" (click)="submit()" >Submit</button>
    <button class="btn red">Reset</button>

    <br>
    <!-- <p>Already have an account, sign in <a [routerLink]="['/auth/login']" style="cursor: pointer;">here</a></p> -->
  </form>
</div>
