<app-navbar></app-navbar>

<div class="col"><div style="display: flex;justify-content: center;">
  <h2 class="header">{{product?.name}}</h2>
</div><div class="card horizontal" style="display: flex;flex-direction: row;">
    <div class="card-image">
      <div class="abc">
        <img class="preview" src={{previewImgUrl}}>
      </div>
      <carousel [height]="50" [cellWidth]="60" [loop]="true" >
        <div class="carousel-cell" *ngFor="let image of product?.images">
          <img class="cardimg" (click)="(previewImgUrl = image?.url)" src={{image?.url}}>
        </div>
      </carousel>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p style="text-align: right;"> <a style="cursor: pointer;color: red;" (click)="sweetAlert(product?._id)"><i
          class="material-icons">delete</i></a></p>
          <br>
        <h2>{{product?.name}}</h2>
        <p>{{product?.description}}</p>
      </div>
      <div class="card-action">
        <button class="btn green" [routerLink]="['/products/updateproduct', product?._id]">Update</button>
      </div>
    </div>
  </div>
</div>

<div style="display: flex;" *ngIf="0">
  <carousel style="height: 500px;margin: 20px;padding: 20px;">
    <div class="carousel-cell" *ngFor="let image of product?.images">
      <img class="cardimg" src={{image?.url}}>
    </div>
  </carousel>
  <div>
    <p style="text-align: right;"> <a style="cursor: pointer;color: red;" (click)="remove(product?._id)">Delete</a></p>
    <h2>{{product?.name}}</h2>
    <p>{{product?.description}}</p>
    <p>{{product?._id}}</p>
    <button class="btn green" [routerLink]="['/products/updateproduct', product?._id]">Update</button>
  </div>
</div>

<div class="card" style="display: flex;flex-direction: row;" *ngIf="0">
  <div class="left">
    <img class="preview" [src]=previewImgUrl>
    <carousel [height]="100" [width]="100">
      <div class="carousel-cell" *ngFor="let image of product?.images">
        <img class="cardimg" src={{image?.url}} (click)="previewImgUrl=image?.url">
      </div>
    </carousel>
  </div>
  <div>
    <p> <a style="cursor: pointer;color: red;" (click)="remove(product?._id)">Delete</a></p>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et molestias quod eligendi perferendis, ullam eum fugiat
      in sapiente odit temporibus fugit assumenda dolorem possimus sequi cum, asperiores praesentium, est provident.</P>

    <button class="btn green" [routerLink]="['/products/updateproduct', product?._id]">Update</button>
  </div>
</div>
