<app-navbar></app-navbar>


<div style="display: flex;" *ngIf="0">
  <carousel style="height: 500px;margin: 20px;padding: 20px;">
    <div class="carousel-cell" *ngFor="let image of product?.images">
      <img class="cardimg" src={{image?.url}}>
    </div>
  </carousel>
  <div>
    <p style="text-align: right;"> <a style="cursor: pointer;color: red;" (click)="remove(product?._id)">Delete</a></p>
    <h2>{{product?.name}}</h2>
    <p>{{product?.description}}</p>
    <p>{{product?._id}}</p>
    <button class="btn green" [routerLink]="['/products/updateproduct', product?._id]">Update</button>
  </div>
</div>

<div class="card" style="display: flex;flex-direction: row;">
  <div class="left">
    <img class="preview" [src]=previewImgUrl>
    <carousel [height]="100" [width]="100">
      <div  class="carousel-cell" *ngFor="let image of product?.images">
        <img class="cardimg" src={{image?.url}} (click)="previewImgUrl=image?.url">
      </div>
    </carousel>
  </div>
  <div>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et molestias quod eligendi perferendis, ullam eum fugiat in sapiente odit temporibus fugit assumenda dolorem possimus sequi cum, asperiores praesentium, est provident.</P>
  </div>
</div>
