carousel{
  padding: 10px;
  margin: 10px;
  /* height: 50%; */
  z-index: 0;
}
carousel-cell
{
  width: auto;
}


.card{
  padding: 20px;
  height: auto;
  width: auto;
  justify-content: center;
  margin: 20px 70px 20px 70px;
}
.preview{
  /* width: 100%; */
  height: auto;
  border: 1px solid;
  margin: 10px;
  width: 100%;
  padding: 10px;
  max-height: 250px;
}
.left{
  width: 350px;
}
.card-image
{
  width: 50%;
  height: auto;
  padding: 10px;
}
.abc
{
  height: 300px;
  display: flex;
  justify-content: center;
}
