<app-navbar></app-navbar>

<div style="display: flex;
            flex-wrap: wrap;">
  <div *ngFor="let product of products?.results">
    <div class="card" style="width: 18rem;" >
      <carousel [width]="210" [cellWidth]="210">
        <div class="carousel-cell" *ngFor="let image of product?.images">
          <img class="cardimg" src={{image?.url}}>
        </div>
      </carousel>
      <div class="card-body">
        <h5 class="card-title">{{product?.name}}</h5>
        <p class="card-text">{{product?.description}}</p>
        <!-- {{product?._id}} -->
        <button class="btn blue" [routerLink]="['/products/productdetails', product?._id]">View Details</button>
      </div>
    </div>
  </div>
</div>
