.card
{
  width: 210px;
  padding: 10px;
  margin-left: 40px;
}
.cardimg{
  width: 230px;
  justify-content: center;
  justify-self: center;
  margin: auto;
}
img{
  padding: 10px;
  margin: 20px;
}
carousel{
  padding: 20px;
  margin: 10px;
}
